<button
  class="button-standard add-referee-button"
  (click)="toggleAddRefereeModal(true)"
>
  Добавить судью
</button>

<table class="referee-table">
  <tr>
    <th *ngFor="let title of tableTitles">{{ title }}</th>
  </tr>
  <tr class="referee-card" *ngFor="let referee of referees">
    <td class="referee-card__column referee-card__name">{{ referee.name }}</td>
    <td class="referee-card__column referee-card__runners">
      <span *ngFor="let runner of referee.runners">#{{ runner }} </span>
    </td>
    <td class="referee-card__column referee-card__login">
      {{ referee.login }}
    </td>
    <td class="referee-card__column referee-card__password">
      {{ referee.password }}
    </td>
    <td
      *ngIf="raceState !== 'start'"
      class="referee-card__column referee-card__edit"
      (click)="toggleEditRefereeModal(referee, true)"
    >
      Редактировать
    </td>
    <td
      *ngIf="raceState !== 'start'"
      class="referee-card__column referee-card__delete"
      (click)="deleteReferee(referee)"
    >
      Удалить
    </td>
  </tr>
</table>

<app-modal
  *ngIf="addRefereeModalActive"
  [modalFields]="modalFields"
  (sendFormData)="handleAddRefereeFormData($event)"
  (closeModal)="handleAddRefereeCloseModal()"
  (mousedown)="toggleAddRefereeModal(false, $event, true)"
></app-modal>

<app-modal
  *ngIf="editRefereeModalActive"
  [modalFields]="modalFields"
  (sendFormData)="handleEditRefereeFormData($event)"
  (closeModal)="handleEditRefereeCloseModal($event)"
  (mousedown)="toggleEditRefereeModal(null, false, $event, true)"
  [fieldValues]="
    [refereeData.name, refereeData.login, refereeData.password].concat(
      refereeData.runners
    )
  "
  buttonText="Сохранить"
></app-modal>
