@import "../../../styles.scss";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 120px);
  padding: 30px 50px;
  overflow-y: scroll;
}

.referee-table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;

  & > tr > th:first-child {
    padding-left: 10px;
  }
}

.referee-card {
  background-color: white;
  border-radius: 5px;
  font-size: 14px;
  min-height: 40px;

  &__column {
    padding: 12px 0;
    padding-right: 10px;

    &:first-child {
      border-radius: 5px 0 0 5px;
      padding-left: 14px;
    }
    &:last-child {
      border-radius: 0 5px 5px 0;
      padding-right: 14px;
    }
  }

  &__name {
    width: 270px;
  }

  &__runners {
    width: 360px;
  }

  &__login {
    width: 120px;
  }

  &__password {
    width: 340px;
  }

  &__edit {
    width: 130px;
    cursor: pointer;
    color: $color-primary;

    &:hover {
      color: $color-primary-select;
    }
  }

  &__delete {
    width: 70px;
    cursor: pointer;
    color: $color-danger;

    &:hover {
      color: $color-danger-select;
    }
  }
}

.add-referee-button {
  width: 210px;
  margin-bottom: 10px;
}
