<div class="container">
    <div class="content">
        <div class="time">{{count | formatTime}}</div>
        
        <a *ngIf="!timeStarted" (click)="handleStartCount()" class="btn start-btn">Начать забег</a>
        <span *ngIf="!count" class="finish">Забег закончен!</span>
        <!-- <button [disabled]="true" *ngIf="timeStarted" (click)="handleStopCount()" class="btn stop-btn">Остановить</button> -->
    </div>
</div>

<!-- <ng-template #startTime>
    <div class="time">{{formattedStartTime}}</div>
</ng-template> -->
