<form [formGroup]="modalForm" class="modal-form">
  <label *ngFor="let field of modalFields; index as i" class="modal-field-label">
    {{ field }}
    <input
      type="text"
      class="modal-input-field"
      [formControlName]="i"
      value="{{ fieldValues[i] || '' }}"
    />
  </label>
  <button (click)="onFormSubmit()" class="button-standard modal-button-submit">
    {{ buttonText || "Добавить" }}
  </button>
  <button (click)="onCancel()" class="button-standard button-standard--grey">
    Отменить
  </button>
</form>
